<body>
<div class="dashboard">
  <div class="container">
    <h1>dashboard</h1>
    <div class="col-md-3 btn"><%= link_to 'Host A New Game', new_game_path %></div>
    <div class="col-md-3 btn"><%= link_to 'Join A Game', games_path %></div>
    <div class="col-md-3 btn"><%= link_to 'Search Friends', users_path %></div>
    <div id="filter-game-list">
      <div class="row">
        <div><a href="#" class="list-header">Upcoming Games</a></div>
        <div><a href="#">Games I'm Playing</a></div>
        <div><a href="#">Games I'm Hosting</a></div>
        <div><a href="#">All</a></div>
      </div><!-- end of .row filter buttons -->
    </div><!-- end of #filter-game-list -->
    <div id="games-list">  
      <% current_user.upcoming_games_all.each do |game| %>
      <div class="row game">
        <div class="col-md-3 date"><%= game.date.strftime("%A, %B %e") %></div>
        <div class="col-md-6 description"><%= link_to "#{game.description}", game %></div>
        <div class="col-md-3 location"><%= link_to "#{game.park.name}", "https://www.google.com/maps/place/#{game.park.location.gsub(" ","+")}+NY" if game.park.location %></div>
      </div><!-- end of .row.game -->
      <% end %>
    </div><!-- end of .games-list -->
      <div>Friends</div>
      <div id="friends-list">
        <% @users.sample(10).each do |user| %>
        <% if user.id != current_user.id %>
          <div class="col-md-1 friend">
            <div><%= image_tag "#{user.profile_picture}", alt: "#{user.full_name}" %></div>
            <div><%= link_to "#{user.full_name}", user_path(user) %></div>
            <hr>
            <p>Favorite Games:<br><%= user.favorite_games %></p>
          </div><!-- end of .friend card -->
        <% end %>
      <% end %>
    </div><!-- end of .friends-list -->
  </div><!-- end of .container -->
</div><!-- end of .dashboard -->
