<p>Hi [ friend ],</p>

<p>Join me this <%= @game.date.strftime("%A") %> at <%= @park.name %> for fun game of <%= @game.game_category %>. You can sign up <%= link_to "here", game_path(@game) %>. Here's the full details:</p>

<%= @game.description %><br> 
Hosted by: <%= @host.full_name %><br>
Activity: <%= @game.game_category %><br>
Location: <%= @park.name %><br>
Date: <%= @game.date.strftime("%A, %B %e") %><br>
Time: <%= @game.time.strftime("%l:%M %p") %><br>
Players signed up so far: <% @game.players.collect do |p| %>
                          <%= p.full_name %>
                          <% end.join(", ") %><br>
<p>Other info: <%= @game.additional_info %><br>

<p>See you there!</p>

<p>♥ <%= @user.full_name %></p>

<hr width="60%" noshade>
<h6>THIS DISCLAIMER IS TO INFORM ALL PARKSTER USERS THAT we do NOT, in any way guarantee any of the facilities or park spaces listed on our site will be available for your use at the time and/or on the date you have reserved to use the facilities or park spaces. Park spaces are public spaces wherein anyone can use them. Additionally, the city may or may not have it's own system for booking or reserving certain facilities (like tennis courts). We have no authority to, and do not claim to have authority to make reservations for any of the facilities or parks listed on this site. For instance, if you host a tennis game for a certain date and time on a certain tennis court, and on that date and at that time, said tennis court is in use by other people, YOU DO NOT HAVE A RIGHT TO USE SAID TENNIS COURT just because you reserved/hosted a game using Parkster. Parkster is meant to facilitate the hanging out of people when park spaces and/or facilities aren't in use. Remember, parks are big and if someone is already playing a game in the space you reserved using Parkster, either play said game with them or go find another space.</h6>