<body>
<div class="index-page">
  <div class="container">

    <h1>NYC Parks</h1>

    <!-- add filters by activity -->

    <div id="nyc-parks-list"> 
      <% @parks.each do |park| %>
      <div class="index park row">
        <div class="col-md-3 name"><%= park.name %></div>
        <div class="col-md-4 location">
        <%= link_to "#{park.location}", "https://www.google.com/maps/place/#{park.location.gsub(" ","+")}+NY" if park.location %></div>
        <div class="col-md-2 activity"><%= park.activity %></div>
        <div class="col-md-4 btn btn-default small">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        <%= link_to "Upcoming Games", "#" %></div><!-- use form to pass park_id to games index? --> 
      </div><!-- end #nyc-parks-list-->  
      <% end %>
    </div><!-- end .park.row -->

    <% if logged_in? %>
    <div class="btn btn-default back">
      <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      <%= link_to "back to dashboard", dashboard_path %>
    </div>
    <% end %>
  </div><!-- end .container-->
</div><!-- end .index-page -->