<div class="user-form">
<%= simple_form_for(@user) do |f| %>
   <%= f.label :first_name %><br>
   <%= f.text_field :first_name, placeholder: "Leslie" %><br>
   <%= f.label :last_name %><br>
   <%= f.text_field :last_name, placeholder: "Knope" %><br>
   <%= f.label :email %><br>
   <%= f.text_field :email, placeholder: "leslie.knope@pawneeparksandrec.gov" %><br>
   <%= f.label :zipcode %><br>
   <%= f.text_field :zipcode, placeholder: "10001" %><br>
   <%= f.label "Profile Picture URL" %><br>
   <%= f.text_field :profile_picture, placeholder: "Enter a valid image url." %><br>
   <%= f.label :favorite_games %><br>
   <%= f.text_field :favorite_games, placeholder: "What are some of your favorite games?"%><br>
</div>

<div class="user-form-button">
<%= f.submit %>
</div>

<% end %>
 
