<p id="notice"><%= notice %></p>

<img src=<%= "#{@user.profile_picture}" %> alt="<%= current_user_full_name %>">

<h1><%= current_user_full_name %></h1>

<div id="play-new-game">
  <h2>Play</h2>
  <%= link_to 'Host A New Game', new_game_path %><br>
  <%= link_to 'Join A Game', games_path %>
</div>

<div id="friends-list">
  <h2>Friends</h2>
  <ul>
    <!-- @users.sample(5).each do |user| -->
    <!-- show user info -->
    <!-- end -->
  </ul>
</div>

<div id="games-list">
  <h2>Upcoming Games</h2>
  <h3>Games I'm Hosting:</h3>
  <ul>
    <% @user.upcoming_games_host.each do |game| %>
    <li><%= link_to "#{game.description}", game %></li>
    <% end %>
  </ul>
  <h3>Games I'm Playing:</h3>
  <ul>
    <% @user.upcoming_games_player.each do |game| %>
    <li><%= link_to "#{game.description}", game %></li>
    <% end %>
  </ul>
</div>

