<div class="game-form">
   <%= form_for(@game) do |f| %>
      
      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :host %><br></span>
      <%= f.text_field :host, value: "#{@user.first_name} #{@user.last_name}", class: "form-control" %><br>
      </div>

      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :description %><br></span>
      <%= f.text_field :description, class: "form-control", placeholder: "Pawnee Harvest Fest Softball Tourney" %><br>
      </div>

      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label "Activity" %><br></span>
      <%= f.collection_select :game_category, Activity.order(:name), :name, :name, include_blank: 'Select an activity...', class: "form-control" %><br>
      </div>

      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :date %><br></span>
      <%= f.date_field :date, min: Date.today, placeholder: Date.today, class: "form-control" %><br> 
      </div>
      <!-- placeholder set to Date.today; cannot choose date in the past -->

      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :time %><br></span>
      <%= f.time_field :time, placeholder: Time.now.localtime.strftime("%H:%M"), class: "form-control" %><br> 
      </div>
      <!-- TODO: make this work: placeholder value formatted as hour:minute am/pm -->

      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :player_limit %><br></span>
      <%= f.text_field :player_limit, class: "form-control", placeholder: "20" %><br>
      </div>

      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :location %><br></span>
      <%= f.grouped_collection_select :park_id, Activity.all, :parks, :name, :id, :name, include_blank: 'Select a park...', class: "form-control" %><br> 
      </div>

      <div class="input-group input-group-lg">
      <span class="input-group-addon"><%= f.label :additional_info %><br></span>
      <%= f.text_field :additional_info, class: "form-control", placeholder: "Volunteer umps needed. No Eagletonians." %><br> 
      </div>
      <%= f.hidden_field :host_id, value: @user.id %>
      <!-- hidden field passes host_id in params -->
    </div><!-- end of .game-form -->

  <div class="btn-group col-md-8"> 
  <div class="btn-group">
  <div class="btn btn-default game-form-button">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <%= f.submit %>
<% end %>
</div>
