<div class="game-form">

<!-- convert to simple form? -->
<!-- https://github.com/plataformatec/simple_form -->
<%= form_for(@game) do |f| %>

   <%= f.hidden_field :host_id, value: @user.id %>
   <!-- hidden field passes host_id in params -->

   <%= f.label :host %><br>
   <%= f.text_field :host, value: "#{@user.first_name} #{@user.last_name}" %><br>

   <%= f.label :description %><br>
   <%= f.text_field :description %><br>

   <%= f.label :game_category %><br>
   <%= f.text_field :game_category %><br>
   <!-- todo: make this a drop down: options are all game_categories -->
   <!-- use f.select? f.collection_select? -->

   <%= f.label :date %><br>
   <%= f.date_field :date, min: Date.today, placeholder: Date.today %><br> 
   <!-- placeholder set to Date.today; cannot choose date in the past -->

   <%= f.label :time %><br>
   <%= f.time_field :time, placeholder: Time.now.localtime.strftime("%H:%M")  %><br> 
   <!-- TODO: make this work: placeholder value formatted as hour:minute am/pm -->

   <%= f.label :player_limit %><br>
   <%= f.text_field :player_limit %><br>

   <%= f.label :location %><br>
   <%= f.text_field :park_id%><br> 
   <!-- todo: make this a drop down: options are parks, filtered by game_category -->
   <!-- use f.select? f.collection_select? -->

   <%= f.label :additional_info %><br>
   <%= f.text_field :additional_info %><br> 
 </div>

 <div class="game-form-button">
   <%= f.submit %>
 </div>

<% end %>
