<h1>Games</h1>
<ul>
  <% @games.each do |game| %>
  <li><%= "#{game.date.strftime("%A, %B %e")}, #{game.time.strftime("%l:%M %p")}" %> |
      <%= "#{game.description}" %> <%= " (#{game.game_category})" %> |
      <%= game.park.name %>
      <%= link_to "Sign Up", game %>
  <% end %>
  </li>
</ul>

<%#= link_to "Back to dashboard", dashboard_path %>