<p id="notice"><%= notice %></p>

  <!-- get error messages to display -->
  <% if @game.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@game.errors.count, "error") %> prohibited this reservation from being made:</h2>
    
       <ul>
       <% @game.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>

<h1><%= @game.description %></h1>

<ul>
  <li>Category: <%= @game.game_category %></li>
  <li>Host: <%= @game.host.full_name %></li>
  <li>Date: <%= @game.date.strftime("%A, %B %e") %></li>
  <li>Time: <%= @game.time.strftime("%l:%M %p") %></li>
  <li>Location: <%= @game.park.name %> at <%= @game.park.location %></li><!-- google map -->
  <li>Players:</li>
  <li><% @game.players.each do |p| %> <!-- if break, change to @game.reservations.each -->
      <img src="<%= p.profile_picture %>"><%= "#{p.first_name} #{p.last_name}" %>
      <% end %>

      <% if @game.has_open_spots? %>
        <%= render 'reservation' %>
      <% end %> 
  </li>

  <li>Open spots: 
    <% if @game.has_open_spots? %>
      <%= @game.open_spots %>
    <% else %>  
      <%= "Sorry, this game is full." %>
    <% end %>  
  </li>

  <li>Additional info: <%= @game.additional_info %></li>
  <!-- weather -->
</ul>

<%= link_to "Back to games", games_path %>