<p id="notice"><%= notice %></p>

<h1><%= @game.description %></h1>

<ul>
  <li>Category: <%= @game.game_category %></li>
  <li>Host: <%= @game.host.full_name %></li>
  <li>Date: <%= @game.date.strftime("%A, %B %e") %></li>
  <li>Time: <%= @game.time.strftime("%l:%M %p") %></li>
  <li>Location: <%= @game.park.name %> at <%= @game.park.location %></li><!-- google map -->
  <li>Players:</li>
  <li><% @game.players.each do |p| %><!-- if break, change to @game.reservations.each -->
      <img src="<%= p.profile_picture %>"><%= "#{p.first_name} #{p.last_name}" %>
      <% end %>

      <!-- NESTED RESOURCES???? YEAH, PROLLY -->
      <% if @game.has_open_spots? %>
        <%#= render 'reservations/form' %>
      <% end %> 

  </li>

  <li>Open spots: 
    <% if @game.has_open_spots? %>
      <%= @game.open_spots %>
    <% else %>  
      <%= "Sorry, this game is full." %>
    <% end %>  
  </li>

  <li>Additional info: <%= @game.additional_info %></li>
  <!-- weather -->
</ul>