

<h1><%= @game.description %></h1>

<ul>
  <li>Category: <%= @game.game_category %></li>
  <% if logged_in? %>
  <li>Host: <%= link_to "#{@game.host.full_name}", user_path(@game.host_id) %></li>
  <% else %>
  <li>Host: <%= @game.host.full_name %></li>
  <% end %>
  <li>Date: <%= @game.date.strftime("%A, %B %e") %></li>
  <li>Time: <%= @game.time.strftime("%l:%M %p") %></li>
  <li>Location: <%= @game.park.name %> at <%= @game.park.location %></li>
  <li> Weather: <%= @weather.forecast_for("WA","Spokane")%> </li>

  <li>Players:</li>
  <li><% @game.players.each do |p| %>
      <%= image_tag "#{p.profile_picture}", alt: "#{p.full_name}" %>
      <%= link_to "#{p.full_name}", user_path(p) if logged_in? %>
      <% end %>

      <% if @game.has_open_spots? %>
        <% if logged_in? && !player_not_signed_up? %>
          <%= link_to "Invite some friends!", invite_path(:game_id => @game.id, :user_id => current_user.id) %>
         
          <!-- todo: add ability to select friends to email -->

          <div invite-form><!-- style="display:hidden", then unhide on #invite link click above -->
            <%#= simple_form_for(@game) do |f| %>
            <%#= f.hidden_field :user_id, value: current_user.id %>
            <%#= f.label "Select friends to invite:" %>
            <%#= f.input :players, label: false, check_boxes: User.all %>
            <%#= f.submit "Invite some friends!", invite_path %>
            <%# end %>
          </div>
          
        <% end %>
      <%= render 'reservation' if player_not_signed_up? %>
      <% end %> 
  </li>
  <li>Open spots: <%= @game.has_open_spots? ? @game.open_spots : "Sorry, this game is full." %></li>
  <li>Additional info: <%= @game.additional_info %></li>
  <!-- todo: add weather -->
</ul>


<% if current_user_is_host? %>
<%= link_to "Edit", edit_game_path %> | 
<%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>

<%= link_to "Back to games", games_path %>


