<body>
<div class="show-page game">
  <div class="container">
    <div class="col-md-2"></div><!-- maintain page layout -->
    <div class="list-group col-md-8"> 
    <ul>
      <li class="list-group-item active"><%= @game.description %></li>
      <li class="list-group-item"><div class="label">Activity:</div><%= @game.game_category %></li>
      <% if logged_in? %>
      <li class="list-group-item"><div class="label">Host:</div><%= link_to "#{@game.host.full_name}", user_path(@game.host_id) %></li>
      <% else %>
      <li class="list-group-item"><div class="label">Host:</div><%= @game.host.full_name %></li>
      <% end %>
      <li class="list-group-item"><div class="label">Date:</div><%= @game.date.strftime("%A, %B %e") if @game.date %></li>
      <li class="list-group-item"><div class="label">Time:</div><%= @game.time.strftime("%l:%M %p") if @game.time %></li>
      <li class="list-group-item"><div class="label">Location:</div><%= @game.park.name %> at <%= link_to "#{@game.park.location}", "https://www.google.com/maps/place/#{@game.park.location.gsub(" ","+")}+NY" if @game.park.location %></li>
      <li class="list-group-item players"><div class="label">Players:</div>
        <% @game.players.each do |p| %>
          <div class="player-pic-name">
            <% if logged_in? %>
            <div><%= link_to(image_tag("#{p.profile_picture}"), user_path(p)) if logged_in? %></div>
            <% else %>
            <div><%= image_tag "#{p.profile_picture}" %></div>
            <% end %>
          </div>
        <% end %>
      </li>
      <li class="list-group-item"><div class="label">Open spots:</div> <%= @game.has_open_spots? ? @game.open_spots : "Sorry, this game is full." %>
      
      <!-- render invite button -->
      <% if @game.has_open_spots? %>
        <% if logged_in? && !player_not_signed_up? %>
          <div class="btn btn-default invite"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <%= link_to "Invite some friends!", invite_path(:game_id => @game.id, :user_id => current_user.id) %>
          </div>

          <!-- todo: add ability to select friends to email -->
          
        <% end %>
      <% end %> 
      </li>

      <li class="list-group-item"><div class="label">Additional info:</div> <%= @game.additional_info %></li>
      <!-- todo: add weather -->
    </ul>
    </div><!-- end .list-group -->

    <div class="col-md-2"></div><!-- maintain page layout -->
    <div class="btn-group col-md-7">

      <div class="btn btn-default">
      <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      <%= link_to "Back to games", games_path %>
      </div>

      <% if current_user_is_host? %>

      <div class="btn btn-default">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <%= link_to "Edit", edit_game_path %>
      </div>

      <div class="btn btn-default">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
      
    </div><!-- end .btn-group -->

    <div class="col-md-1">
    <%= render 'reservation' if player_not_signed_up? %>
    </div>
  </div><!-- end of .container -->
</div><!-- end of .show-page -->