<p id="notice"><%= notice %></p>

<h1><%= @game.description %></h1>

<ul>
  <li>Category: <%= @game.game_category %></li>
  <li>Host: <%= @game.host.full_name %></li>
  <li>Date: <%= @game.date.strftime("%A, %B %e") %></li>
  <li>Time: <%= @game.time.strftime("%l:%M %p") %></li>
  <li>Location: <%= @game.park.name %> at <%= @game.park.location %></li><!-- google map -->
  <li>Players:</li>
  <li><% @game.players.each do |p| %>
    <%= image_tag "#{p.profile_picture}", alt: "#{p.full_name}" %>
    <% end %>

    <% if @game.has_open_spots? %>
      <%= link_to "Invite some friends!", game_path(@game) if !player_not_signed_up? %><!-- todo: link goes to ActionMailer -->
      <%= render 'reservation' if player_not_signed_up? %>
    <% end %> 
  </li>

  <li>Open spots: <%= @game.has_open_spots? ? @game.open_spots : "Sorry, this game is full." %></li>

  <li>Additional info: <%= @game.additional_info %></li>
  <!-- weather -->
</ul>

<% if current_user_is_host? %>
  <%= link_to "Edit", edit_game_path %> | 
  <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>


<%= link_to "Back to games", games_path %>