<p id="notice"><%= notice %></p>

<h1><%= @game.description %></h1>

<ul>
  <li>Category: <%= @game.game_category %></li>
  <li>Host: <%= link_to "#{@game.host.full_name}", user_path(@game.host_id) %>
  <li>Date: <%= @game.date.strftime("%A, %B %e") %></li>
  <li>Time: <%= @game.time.strftime("%l:%M %p") %></li>
  <li>Location: <%= @game.park.name %> at <%= @game.park.location %></li><!-- google map -->
  <li>Players:</li>
  <li><% @game.players.each do |p| %>
      <%= image_tag "#{p.profile_picture}", alt: "#{p.full_name}" %>
      <%= p.full_name %> |
      <% end %>

      <% if @game.has_open_spots? %>
        <% if !player_not_signed_up? %>

          <%#= form_for(@game) do |f| %>
            <%#= f.fields_for :users, current_user do |uf| %>
            <%#= uf.hidden_field :user_id, value: current_user.id %><!-- todo: pass correct params; user fields_for? -->
            <%#= f.submit "Invite some friends!", invite_path %>
            <%# end %>
          <%= link_to "Invite some friends!", invite_path %><!-- todo: pass user param info here? -->
        <% end %>
      <%= render 'reservation' if player_not_signed_up? %>
      <% end %> 
  </li>
  <li>Open spots: <%= @game.has_open_spots? ? @game.open_spots : "Sorry, this game is full." %></li>
  <li>Additional info: <%= @game.additional_info %></li>
  <!-- weather -->
</ul>

<% if current_user_is_host? %>
<%= link_to "Edit", edit_game_path %> | 
<%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<% end %>


<%= link_to "Back to games", games_path %>