<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Parkster : Get Social with NYC Parks">
    <meta name="author" content="Lara Shkordoff and Kate Travers">
    <link rel="icon" href="../../favicon.ico">

    <title>Parkster</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>  -->
          <% if logged_in? %>
          <%= link_to "parkster", dashboard_path, class: "navbar-brand" %>
          <% else %>
          <%= link_to "parkster", root_path, class: "navbar-brand" %>
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><%= link_to "NYC Parks", parks_path %></li>
            <li><%= link_to "Calendar", games_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="notice"><%= notice %></a></li>
          <% if request.path == root_path || !logged_in? %>
            <li><%= link_to 'Existing Users | Login', login_path %></li>
          <% else %>
            <li><%= link_to "Hi #{current_user.first_name}!", user_path(current_user) %></li>
            <li><%= link_to(image_tag("#{current_user.profile_picture}"), user_path(current_user)) %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li><%= link_to "Log Out", signout_path %></li>
          <% end %>  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>